doctype html

block html
html
	
	head
		meta(http-equiv="Content-Type" content="text/html;charset=UTF-8")
		meta(name='viewport' content="width=device-width, initial-scale=1, shrink-to-fit=no")
		
		block head
		title #{pageTitle} | robonomics.network
		meta(name='description' content=pageDescription || '')
		meta(name='keywords' content=pageKeywords || '')

		link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,300,300i,400,400i,500,500i,700,700i&amp;subset=cyrillic,cyrillic-ext" type="text/css" media="all")

		link(href='assets/css/robonomics_website.min.css?v=1' rel='stylesheet')
			
		//- script(src='assets/js/jquery-2.1.4.min.js?v=1')
		script(src="http://code.jquery.com/jquery-2.2.4.min.js", integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=", crossorigin="anonymous")
		script(src='assets/js/robonomics_plugins.min.js?v=1')
		script(src='assets/js/robonomics_website.js?v=1')

		link(rel="icon" href="favicon.ico" type="image/x-icon")
		link(rel="shortcut icon" href="favicon.ico" type="image/x-icon")
		link(rel="apple-touch-icon" sizes="114x114" href="apple-touch-icon-114x114.png")
		link(rel="apple-touch-icon" sizes="72x72" href="apple-touch-icon-72x72.png")

	body(class=bodyclass)
		block content